= form_for [:admin, @promotional_code] do |f|
  - if @promotional_code.errors.any?
    #error_explanation
      %h2= "#{pluralize(@promotional_code.errors.count, "error")} prohibited this PromotionalCode from being saved:"
      %div{:class=>["alert","alert-error"]}
        %ul
          - @promotional_code.errors.full_messages.each do |msg|
            %li= msg

  = f.label :code
  = f.text_field :code
  %br

  = f.label :description
  = f.text_field :description
  %br

  = f.label :discount_type
  = f.collection_select :discount_type_id, @discount_types, :id, :name, {:prompt => "Pick a discount type"}
  %br

  = f.label :value
  = f.text_field :value
  %br

  = f.label :minimum_cart
  = f.text_field :minimum_cart
  %br

  = f.label :uses_allowed
  = f.text_field :uses_allowed
  %br

  = f.label :starts_at
  = f.text_field :starts_at
  %br

  = f.label :expires_at
  = f.text_field :expires_at
  %br

  //%h4= "Products"
  //= f.fields_for :product_promotions do |pp|
  //  = pp.check_box :_destroy, {:checked => pp.object.product_id.to_s == @prod || @check_prods.include?(pp.object.product_id.to_s) || pp.object.persisted?}, '0', '1'
  //  = pp.label :_destroy, pp.object.product.name
  //  = pp.hidden_field :product_id
  //%br

  = f.submit "Submit"
  = link_to 'Cancel', admin_promotional_codes_path
