%h1 Listing Promotional Codes
%table
  %thead
    %tr
      %th Code
      %th Description
      %th Value
      %th Minimum Cart
      %th Uses Allowed
      %th Times Used
      %th Start Date
      %th Expire Date
      %th Discount Type

  %tbody
    - @promotional_codes.each do |promotional_code|
      %tr
        %td
          = promotional_code.code
        %td
          = promotional_code.description
        %td
          = promotional_code.value
        %td
          = promotional_code.minimum_cart
        %td
          = promotional_code.uses_allowed
        %td
          = promotional_code.times_used
        %td
          = promotional_code.starts_at
        %td
          = promotional_code.expires_at
        %td
          = promotional_code.discount_type.name
        %td
          = link_to 'Show', admin_promotional_code_path(promotional_code)
        %td
          = link_to 'Edit', edit_admin_promotional_code_path(promotional_code)
        %td
          = link_to 'Destroy', admin_promotional_code_path(promotional_code), :method => :delete, :data => { :confirm => 'Are you sure?' }
= link_to 'New Promotional Code', new_admin_promotional_code_path
