<div class="container">
	<header class="row-fluid">
		<div class="span12">
			<h1>Le awesome store</h1>
		</div>
	</header>

	<section id="promotion" class="row-fluid">
		<div class="span12">
			<!-- This section is meant for the promotional slideshows and videos -->
			<!-- I need a filler for this -->
			<%= image_tag 'http://placehold.it/1200x600' %>
		</div>
	</section>

	<section id="featured" class="row-fluid">
		<header class="span12">
			<h2>Featured</h2>
		</header>
		<section class="span12">
			<article class="row-fluid">
				<div class="span4">
					<%= image_tag 'http://placehold.it/300' %>
				</div>
				<div class="span4">
					<h5>Josefina</h5>
					<p>A puta mais fina deste cabaret</p>
					<ul>
						<li>Lava-se</li>
						<li>Depila-se</li>
						<li>Come a sopa toda</li>
					</ul>
				</div>
			</article>
		</section>
	</section>

	<section id="recommended" class="row-fluid">
		<header class="span12">
			<h2>Recommended</h2>
		</header>
		<section class="span12">
			<div class="row-fluid">
				<% 3.times do %>
					<article class="span4">
						<%= image_tag 'http://placehold.it/200' %>
						<h5>Josefina</h5>
					</article>
				<% end %>
			</div>
		</section>
	</section>
<!--
	<section class="row-fluid">
		<header class="span12">
			<h2>Products</h2>
		</header>
		<section class="span12">
			Sort by:
			<select>
				<option>Date added</option>
				<option>Popularity</option>
				<option>Rating</option>
				<option>Price (ascending)</option>
				<option>Price (descending)</option>
			</select>
			<input type="text" value="Search" />
		</section>
		<section class="span12">
			<div class="row-fluid">
				<%# 10.times do %>
					<article class="span3">
						<h5>Josefina</h5>
						<p>Rating: ***</p>
						<%#= image_tag 'http://placehold.it/200' %>
						<p>A puta mais fina deste cabaret</p>
						<p>100 €</p>
					</article>
				<%# end %>
			</div>
		</section>
	</section>
-->

	<footer class="row-fluid">
		<div class="span12">
			<%= link_to 'Share on Facebook', '#' %>
			<%= link_to 'Tweet about this place', '#' %>
		</div>
	</footer>
</div>

<%#= javascript_include_tag 'plazr_store/mockup/pages/index' %>