<% placeholder_img = 'plazr_store/lipsum-thirt.png' %>
<div class="container">
	<header class="row-fluid">
		<div class="span12">
			<h1>Lorem ipsum</h1>
		</div>
	</header>

	<section id="promotion" class="row-fluid">
		<div class="span12">
			<!-- This section is meant for the promotional slideshows and videos -->
			<!-- I need a filler for this -->
			<%= image_tag 'plazr_store/promotion-banner.jpg' %>
		</div>
	</section>

	<section id="featured" class="row-fluid">
		<header class="span12">
			<h2>Featured</h2>
		</header>
		<section class="span12">
			<article class="row-fluid">
				<div class="span4">
					<%= image_tag placeholder_img %>
				</div>
				<div class="span8">
					<h5><%= LoremIpsum.w(2, format: :title_case) %></h5>
					<p><%= LoremIpsum.p(1) %></p>
					<ul>
						<li><%= LoremIpsum.short %></li>
						<li><%= LoremIpsum.short %></li>
						<li><%= LoremIpsum.short %></li>
						<li><%= LoremIpsum.short %></li>
					</ul>
				</div>
			</article>
		</section>
	</section>

	<section id="recommended" class="row-fluid">
		<header class="span12">
			<h2>Recommended</h2>
		</header>
		<section class="span12">
			<div class="row-fluid">
				<% 3.times do %>
					<article class="span4">
						<%= image_tag placeholder_img %>
						<h5><%= LoremIpsum.w(2, format: :title_case) %></h5>
					</article>
				<% end %>
			</div>
		</section>
	</section>

	<footer class="row-fluid">
		<div class="span12">
			<%= link_to 'Share on Facebook', '#' %>
			<%= link_to 'Tweet about this place', '#' %>
		</div>
	</footer>
</div>

<%#= javascript_include_tag 'plazr_store/mockup/pages/index' %>