
<% page = 'plazr_store/mockup/pages/single' %>

<% page2 = 'imageSlider/jquery-1.2.6.min' %>
<% page3 = 'imageSlider/jquery-easing-1.3.pack' %>
<% page4 = 'imageSlider/jquery-easing-compatibility.1.2.pack' %>
<% page5 = 'imageSlider/coda-slider.1.1.1.pack' %>


<%= content_for :head do %>
	<%= stylesheet_link_tag page, :media => "all" %>
	<%= javascript_include_tag page2 %>
	<%= javascript_include_tag page3 %>
	<%= javascript_include_tag page4 %>
	<%= javascript_include_tag page5 %>
	<%= javascript_include_tag page %>
<% end %>


<article>

	<header class="row">
		<div class="span4">
			<h1>T-SHIRT</h1>
			<p>Classificação</p>
		</div>
	</header>

	<div class="row">
		<div class="span12">

	<!--Teste imagens-->


			<div id="page-wrap" class="row">
													
				<div class="slider-wrap" class="span12">
					<div id="main-photo-slider" class="csw">
						<div class="panelContainer">

							<div class="panel" title="Panel 1">
								<div class="wrapper">
									<img src="/assets/plazr_store/3.png" alt="temp" />
									<!--<div class="photo-meta-data">
										Photo Credit: <a href="http://flickr.com/photos/astrolondon/2396265240/">Kaustav Bhattacharya</a><br />
										<span>"Free Tibet" Protest at the Olympic Torch Rally</span>
									</div>-->
								</div>
							</div>
							<div class="panel" title="Panel 2">
								<div class="wrapper">
									<img src="/assets/plazr_store/4.png" alt="temp" />
									<!--<div class="photo-meta-data">
										Photo Credit: <a href="http://flickr.com/photos/astrolondon/2396265240/">Kaustav Bhattacharya</a><br />
										<span>"Free Tibet" Protest at the Olympic Torch Rally</span>
									</div>-->
								</div>
							</div>	
							<div class="panel" title="Panel 3">
								<div class="wrapper">
									<img src="/assets/plazr_store/5.png" alt="temp" />
									<!--<div class="photo-meta-data">
										Photo Credit: <a href="http://flickr.com/photos/astrolondon/2396265240/">Kaustav Bhattacharya</a><br />
										<span>"Free Tibet" Protest at the Olympic Torch Rally</span>
									</div>-->
								</div>
							</div>
							<div class="panel" title="Panel 4">
								<div class="wrapper">
									<img src="/assets/plazr_store/6.png" alt="temp" />
									<!--<div class="photo-meta-data">
										Photo Credit: <a href="http://flickr.com/photos/astrolondon/2396265240/">Kaustav Bhattacharya</a><br />
										<span>"Free Tibet" Protest at the Olympic Torch Rally</span>
									</div>-->
								</div>
							</div>
							<div class="panel" title="Panel 5">
								<div class="wrapper">
									<img src="/assets/plazr_store/7.png" alt="temp" />
									<!--<div class="photo-meta-data">
										Photo Credit: <a href="http://flickr.com/photos/astrolondon/2396265240/">Kaustav Bhattacharya</a><br />
										<span>"Free Tibet" Protest at the Olympic Torch Rally</span>
									</div>-->
								</div>
							</div>

						</div>
					</div>
					<div id="movers-row">
						<div><a href="#1" class="cross-link"><img src="/assets/plazr_store/3.png" class="nav-thumb" alt="temp-thumb" /></a></div>
						<div><a href="#2" class="cross-link"><img src="/assets/plazr_store/4.png" class="nav-thumb" alt="temp-thumb" /></a></div>
						<div><a href="#3" class="cross-link"><img src="/assets/plazr_store/5.png" class="nav-thumb" alt="temp-thumb" /></a></div>
						<div><a href="#4" class="cross-link"><img src="/assets/plazr_store/6.png" class="nav-thumb" alt="temp-thumb" /></a></div>
						<div><a href="#5" class="cross-link"><img src="/assets/plazr_store/7.png" class="nav-thumb" alt="temp-thumb" /></a></div>
					</div>

				</div>

			</div>

	<!--Fim Teste Imagens-->
		</div>
	</div>


	<section>

		<div class="row-fluid">
			<div class="span4">
				<p>Tamanho:</p>
				<select>
				  <option>M</option>
				  <option>L</option>
				  <option>XL</option>
				</select>
				<p>Quantidade:</p>
				<input type="number" value="Quantity" />
				<input type="submit" value="Adicionar ao cesto" />
				<input type="submit" value="Adicionar à wishlist" />
			</div>
			<div class="span8">
				<dl class="">
					<dt>Descrição</dt>
					<dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</dd>
					<dt>Referência<dt>
					<dd>04379733</dd>
					<dt>Categoria</dt>
					<dd>Futebol</dd>
					<dt>Preço</dt>
					<dd>€4,99</dd>
				</dl>
			</div>
		</div>

	<section>

		<header>
			<div class="row-fluid">
				<div class="span4">
					<h3>Pacotes onde está incluido</h3>
				</div>
			</div>
		</header>
		
			<div class="row-fluid">
				<div class="span4">
					<%= render 'package_group' %>
				</div>
			</div>

	</section>

	<section>
		<header>
			<div class="row-fluid">
				<div class="span4">
					<h3>Produtos relacionados</h3>
				</div>
			</div>
		</header>

			<div class="row-fluid">
				<div class="span4">
					<%= render 'related_products_im' %>
				</div>
			</div>
	</section>

	<section>
		<header>
			<div class="row-fluid">
				<div class="span4">
					<h3>Comentários</h3>
				</div>
			</div>
		</header>
		<div class="row-fluid">
			<div class="span4">
				<%= render 'comment' %>
			</div>
		</div>
	</section>

</article>
