<ul>
  <li><%= link_to 'Products', plazr_store.products_path %></li>
  <li><%= link_to 'Admin Products', plazr_store.admin_products_path %></li>
  <li><%= link_to 'Pages', plazr_store.admin_pages_path %></li>
  <li><%= link_to 'Prototypes', plazr_store.admin_prototypes_path %></li>
  <li><%= link_to 'Product Categories', plazr_store.admin_product_categories_path %></li>
  <li><%= link_to 'Variant Properties', plazr_store.admin_variant_properties_path %></li>
  <li><%= link_to 'Properties', plazr_store.admin_properties_path %></li>
</ul>

<%= render 'plazr_store/shared/admin_nav' %>
