<ul>
  <li><%= link_to 'Products', plazr_store.products_path %></li>
  Pages
  <% PZS::Page.all.each do |p| %>
    <li><%= link_to p.title, plazr_store.page_path(p.slug) %></li>
  <% end %>
</ul>

<%= render 'plazr_store/shared/admin_nav' %>

<% if user_signed_in? %>
  <ul>
    <li><%= link_to 'My Cart', plazr_store.cart_path %></li>
    <li><%= link_to 'My Orders', plazr_store.orders_history_path %></li>
    <li><%= link_to 'My Wishlist', plazr_store.wishlist_path %></li>
  </ul>
<% end %>
