<a class="thumb-item span3" href="<%= url_for(recommended) %>">
	<article class="">
		<section class="thumb-item-image" style="background-image:url(<%= image_path recommended.image.file.url %>)">
					<section class="box">
			<p class="thumb-rate">
				<% 3.times do %>
				<%= image_tag 'plazr_store/rate/star-full.png', :class => 'rating' %>
				<% end %>
				<% 2.times do %>
				<%= image_tag 'plazr_store/rate/star-empty.png', :class => 'rating' %>
				<% end %>
			</p>
			<h5 class="thumb-name"><%= recommended.name %></h5>
			<p class="thumb-price">
				<span>€ <%= recommended.master_price %></span>
			</p>
		</section>
		</section>

	</article>
</a>
