<a class="thumb-item span3" href="<%= url_for(recommended) %>">
	<article class="">
		<section class="thumb-item-image" style="background-image:url(<%= image_path recommended.image.file.url %>)">
		</section>
		<section class="box">
			<p>
				<% 3.times do %>
				<%= image_tag 'plazr_store/rate/star-full.png', :class => 'rating' %>
				<% end %>
				<% 2.times do %>
				<%= image_tag 'plazr_store/rate/star-empty.png', :class => 'rating' %>
				<% end %>
			</p>
			<h5><%= recommended.name %></h5>
			<p>
				€ <%= recommended.master_price %>
			</p>
		</section>
	</article>
</a>
