- if @product
	%ul.nav.nav-pills
		%li= link_to 'Todos', admin_products_path
		- if @product.new_record?
			%li.active= link_to 'Novo', '#'
		- else
			%li{ :class => @view == 'show' ? :active : nil }
				= link_to 'Detalhes', @view == 'show' ? '#' : admin_product_path(@product)
			- if @view == 'edit'
				%li.active= link_to 'Editar', '#'
			- else
				%li{ :class => @section == 'product_properties' ? :active : nil }
					= link_to 'Propriedades de variante', @section == 'product_properties' ? '#' : admin_product_product_properties_path(@product)
				%li{ :class => @section == 'variants' ? :active : nil }
					= link_to 'Variantes', @section == 'variants' ? '#' : admin_product_variants_path(@product)
				%li{ :class => @section == 'multimedia' ? :active : nil }
					= link_to 'Multimédia', @section == 'multimedia' ? '#' : admin_product_multimedia_path(@product)
	- if @view == 'show'
		.pull-right.btn-group
			= link_to 'Editar', edit_admin_product_path(@product), :class => :btn
			= link_to 'Eliminar', admin_product_path(@product), :method => :delete, data: { confirm: 'Are you sure?' } , :class => [:btn, 'btn-danger']
- else
	%ul.nav.nav-pills
		%li{ :class => @section == 'products' ? :active : nil }
			= link_to 'Produtos', @section == 'products' ? '#' : admin_products_path
		%li{ :class => @section == 'product_categories' ? :active : nil }
			= link_to 'Categorias', @section == 'product_categories' ? '#' : admin_product_categories_path
		%li{ :class => @section == 'brands' ? :active : nil }
			= link_to 'Marcas', @section == 'brands' ? '#' : admin_brands_path
		%li{ :class => @section == 'properties' ? :active : nil }
			= link_to 'Propriedades de Produto',@section == 'properties' ? '#' : admin_properties_path
		%li{ :class => @section == 'variant_properties' ? :active : nil }
			= link_to 'Propriedades de Variante', @section == 'variant_properties' ? '#' : admin_variant_properties_path
		%li{ :class => @section == 'prototypes' ? :active : nil }
			= link_to 'Protótipos', @section == 'variant_properties' ? '#' : admin_prototypes_path