%ul.nav.nav-pills
	- if section == :none
		- if [:index,:new].include? view
			- if view == :new
				%li.active= link_to 'New', '#'
			- else
				%li= link_to 'New', new_admin_product_path
	- if ([:properties, :variants].include? section) || ([:edit, :show].include? view)
		- if view == :show
			%li.active= link_to 'Details', '#'
		- else
			%li= link_to 'Details', admin_product_path(@product)

		- if view == :edit
			%li.active= link_to 'Editing', '#'
		- else
			%li= link_to 'Edit', edit_admin_product_path(@product)

		- if section == :properties
			%li.active= link_to 'Properties', '#'
		- else
			%li= link_to 'Properties', admin_product_product_properties_path(@product)

		- if section == :variants
			%li.active.dropdown
				- name = 'Variants'
				- name = 'New variant' if view == :new
				= link_to '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown' do
					= name
					%b.caret
				%ul.dropdown-menu
					%li= link_to 'New', new_admin_product_variant_path
		- else
			%li= link_to 'Variants', admin_product_variants_path(@product)

		- if section == :multimedia
			%li.active= link_to 'Multimedia', '#'
		- else
			%li= link_to 'Multimedia', admin_product_multimedia_path(@product)
- if view == :show
	- path = '#'
/	- case section
/ 		- when 
/ 		- else
/ 			- path = admin_product_path(@product)
/ 	= link_to path, :method => :delete, data: { confirm: 'Are you sure?' } do
/ 		= button_tag 'Delete', :class => [:btn, 'btn-danger', 'pull-right']