<%= form.fields_for :variants do |variant| %>
	<% if variant.object.is_master? %>
		<div class="control-group">
			<%= variant.label :sku, 'Identificador', :class => 'control-label' %>
			<div class="controls">
				<%= variant.text_field :sku, :class => :span10, placeholder: 'Referência, Código de Barras, Código de Produto, ...' %>
			</div>
		</div>
		<div class="control-group">
			<%= variant.label :price, 'Preço', :class => 'control-label' %>
			<div class="controls">
				<div class="input-append">
					<%= variant.text_field :price, :class => [:number, 'input-small'], placeholder: 'price' %>
					<span class="add-on">
						<%= image_tag 'glyphicons/euro.png', :class => :icon %>
					</span>
				</div>
				<span class="star">*</span>
			</div>
		</div>
		<% if variant.object.new_record? %>
			<div class="control-group">
				<label class="control-label">
					Imagem
				</label>
				<div class="controls">
					<div class="dummyfile wide">
      					<input id="filename" type="text" class="input disabled" name="filename" readonly>
      					<a id="fileselectbutton" class="btn">Choose...</a>
      				</div>
					<%= variant.fields_for :multimedia do |multimedium| %>
						<% if multimedium.object.new_record? %>
							<%# this line is necessary before the file_field (small fix to use paperclip) %>
		  				<%= multimedium.hidden_field :class_type, :value => 'variant' %>
							<!-- <%= multimedium.label :file, 'Ficheiro' %> -->
							<!-- <div class="controls"> -->
								<%= multimedium.file_field :file, :class => :wide, id: 'file' %>
								<%#= multimedium.label :caption %>
								<%= multimedium.text_field :caption, :class => :wide, placeholder: 'Legenda', style: 'display:block' %>
							<!-- </div> -->
						<% end %>
					<% end %>
				</div>
			</div>
		<% end %>
	<% end %>
<% end %>

<script type="text/javascript">
 		$('#admin #fileselectbutton').click(function(e){
 			console.log("HERE");
  			$('#admin #file').trigger('click');
 		});

 		$('#admin #file').change(function(e){
  			var val = $(this).val();
  			var file = val.split(/[\\/]/);
  			$('#admin #filename').val(file[file.length-1]);
 		});
</script>