- page = 'plazr_store/admin/products/index'
- content_for :head do
	= stylesheet_link_tag page, :media => 'all'
%div.container-fluid
	%section
		%h1 Products
		.row-fluid
			.span10
				.row-fluid
					- @products.each do |product|
						.span2.product
							%article
								- variant = product.master_variant.first
								- imgpth = if variant.multimedia.empty?
									- 'http://placehold.it/100x100&text=No%20image'
								- else
									- variant.multimedia.first.file.url(:thumb)
								%div
									%noscript
										= image_tag imgpth
									= content_tag :div, nil, { :class => :photo, style: "background-image:url('#{imgpth}')" }
									= link_to product.name, admin_product_path(product)
								%div
									= link_to edit_admin_product_path(product) do
										= image_tag 'glyphicons/edit.png'
									= link_to admin_product_path(product), :method => :delete, data: { confirm: 'Are you sure?' } do
										= image_tag 'glyphicons/remove.png'
			%aside.span2
				= link_to 'New Product', new_admin_product_path