%h1 Show Product
%p#notice
  = notice
%table
  %tr
    %td
      %b Name
    %td
      = @product.name
%table
  %thead
    %tr
      %th Properties
    %tbody
      - @product.properties.each do |p|
        %tr
          %td= p.display_name
%table
  %thead
    %tr
      %th Variant Properties
    %tbody
      - @product.variant_properties.each do |p|
        %tr
          %td= p.display_name

= link_to 'Edit', edit_admin_product_path(@product)
|
= link_to 'Back', admin_products_path
|
= link_to 'Variants', admin_product_variants_path(@product)
|
= link_to 'Product Properties', admin_product_product_properties_path(@product)
|
= link_to 'Images', admin_product_multimedia_path(@product)
|
= link_to 'Promotions', new_admin_promotion_path(:product => @product.id)