- page = 'plazr_store/admin/products/show'
- content_for :head do
	= stylesheet_link_tag page, :media => 'all'
- if notice
	%section
		%p#notice
			= notice
%nav
	%ul
		%li= link_to 'Back to Products', admin_products_path
%section
	.row-fluid
		.span10
			%article.row-fluid
				.span3
					- variant = @product.master_variant
					- imgpth = if variant.nil? || variant.multimedia.empty?
						- 'http://placehold.it/100x100&text=No%20image'
					- else
						- variant.multimedia.first.file.url(:thumb)
					%noscript
						= image_tag imgpth, :class => :photo
					= content_tag :div, nil, { :class => :photo, style: "background-image:url('#{imgpth}')" }
				.span5
					%h1= @product.name
					- if @product.brand
						%p= "by #{@product.brand.name}"
					-# if @product.available_at
						-# if @product.available_at.past?
							%p=# "Available since #{@product.available_at.to_s(:short)}"
						- else
							%p=# "Will be available after #{@product.available_at.to_date}"
					- Time::DATE_FORMATS[:long_at] = '%B %d, %Y at %H:%M'
					- available_at = Time.parse("#{@product.available_at_date_string} #{@product.available_at_time_string}")
					- if available_at.past?
						%p= "Available since #{available_at.to_s(:long_at)}"
					- else
						%p= "Will be available after #{available_at.to_s(:long_at)}"
					%h6= @product.slug
					%p
						%strong SKU:
						= @product.master_variant.sku if @product.master_variant
					%h4= "€ #{@product.master_variant.price}"
					.rating
						%span
							- if @product.rating
								= @product.rating
							- else
								%em (no rating)
					%p= @product.details
				#variants.span4
					.row-fluid
						- variants = @product.variants_without_master
						- unless variants.empty?
							- variants.each do |variant|
								.span4.cell
									%article
										%div
											- imgpth = if variant.multimedia.empty?
												- 'http://placehold.it/100x100&text=No%20image'
											- else
												- variant.multimedia.first.file.url(:thumb)
											%noscript
												= image_tag imgpth, :class => :photo
											= content_tag :div, nil, { :class => :photo, style: "background-image:url('#{imgpth}')" }
											%strong
												= link_to variant.sku, admin_product_variant_path(@product, variant)
										%div
											= link_to edit_admin_product_variant_path(@product, variant) do
												= image_tag 'glyphicons/edit.png'
											= link_to admin_product_variant_path(@product, variant), :method => :delete, data: { confirm: 'Are you sure?' } do
												= image_tag 'glyphicons/remove.png'
		%aside.span2
			%h5 Product
			%ul
				%li= link_to 'Edit', edit_admin_product_path(@product)
			%h5 Variants
			%ul
				%li= link_to 'New variant', new_admin_product_variant_path(@product)
			%h5 Multimedia
			%ul
				%li= link_to 'New multimedia', new_admin_product_multimedium_path(@product)
