= address.label :first_name
= address.text_field :first_name
%br
= address.label :last_name
= address.text_field :last_name
%br
= address.label :address1
= address.text_field :address1
%br
= address.label :address2
= address.text_field :address2
%br
= address.label :city
= address.text_field :city
%br
= address.label :zipcode
= address.text_field :zipcode
%br
= address.label :phone
= address.text_field :phone
%br
= address.label :alternative_phone
= address.text_field :alternative_phone
%br
= address.label :company
= address.text_field :company
