= form_for order, :url => { :controller => "orders", :action => "new" } do |f|
  - if order.errors.any?
    #error_explanation
      %h2= "#{pluralize(order.errors.count, "error")} prohibited this order from being saved:"
      %div{:class=>["alert","alert-error"]}
        %ul
          - order.errors.full_messages.each do |msg|
            %li= msg

  %h2= "Order Summary"
  = render :partial => 'summary', :locals => { f: f, cart: cart }


  %h2 Payment Method
  = render :partial => 'payment', :locals => { f: f }

  -# %h2 Promotional Code
  -# = render :partial => 'promotional_code', :locals => { f: f }

  = f.submit "Place Order"

