= form_for @order, :url => { :controller => "orders", :action => "create" } do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %div{:class=>["alert","alert-error"]}
        %ul
          - @order.errors.full_messages.each do |msg|
            %li= msg

  
  %h2 Address Details
  = render :partial => 'billing_address', :locals => { f: f, address: address}
  = render :partial => 'shipping_address', :locals => { f: f, address: address}

  %h2 Shipment Condition
  = render :partial => 'review_shipment_condition', :locals => { f: f, shipment_conditions: shipment_conditions, order: @order}

  %h2 Payment
  = render :partial => 'payment', :locals => { f: f }
  = f.hidden_field :express_token
  = f.hidden_field :payer_id

  -# %h2 Promotional Code
  -# = render :partial => 'promotional_code', :locals => { f: f }
  
  = f.submit "Confirm Purchase"

  %h2= "Order Summary"
  = render :partial => 'summary', :locals => { f: f, cart: cart, order: order }
