%h1= "My Orders"

- current_user.orders.each do |order|
  %h2= "Order ##{order.id}"
  State: 
  = order.state
  %br
  Created at: 
  = order.created_at.strftime("%m-%d-%Y")
  %br
  = render "details", :order => order
