<ul>
  <% @cart.cart_variants.each do |cart_variant| %>
    <li>
      [<%= cart_variant.amount %>]
      <%= link_to cart_variant.name, product_path(cart_variant.product) %>
      <%= link_to 'Delete', cart_remove_path(cart_variant.variant), method: :delete %>
    </li>
  <% end %>
</ul>
<p>
	Total price: <%= @cart.total_price %>
</p>
<p>
	<%= link_to "Checkout", checkout_path %>
</p>
