<ul>
  <% @cart.cart_variants.each do |cart_variant| %>
    <li>
      [<%= cart_variant.amount %>]
      <%= link_to cart_variant.info, product_path(cart_variant.product) %>
      <%= link_to 'Delete', cart_remove_path(cart_variant.variant), method: :delete %>
    </li>
  <% end %>
</ul>
<p>
	Total price: <%= @cart.total_price %>
</p>

<%= link_to 'Checkout', plazr_store.checkout_path, method: :get %>

