= form_for [:admin, @prototype] do |f|
  - if @prototype.errors.any?
    #error_explanation
      %h2= "#{pluralize(@prototype.errors.count, "error")} prohibited this prototype from being saved:"
      %div{:class=>["alert","alert-error"]}
        %ul
          - @prototype.errors.full_messages.each do |msg|
            %li= msg

  = f.label :name
  = f.text_field :name
  %br
  %h4= "Properties"
  - @properties.each do |prop| 
    = check_box_tag 'prototype[property_ids][]', prop.id, @prototype.properties.include?(prop)
    = prop.display_name
  = hidden_field_tag 'prototype[property_ids][]', ''

  %h4= "Variant Properties"
  - @variant_properties.each do |prop| 
    = check_box_tag 'prototype[variant_property_ids][]', prop.id, @prototype.variant_properties.include?(prop)
    = prop.display_name
  = hidden_field_tag 'prototype[variant_property_ids][]', ''
  %br

  = f.submit "Submit"
  = link_to 'Cancel', admin_prototypes_path
