= form_for [:admin, @prototype] do |f|
  - if @prototype.errors.any?
    #error_explanation
      %h2= "#{pluralize(@prototype.errors.count, "error")} prohibited this prototype from being saved:"
      %div{:class=>["alert","alert-error"]}
        %ul
          - @prototype.errors.full_messages.each do |msg|
            %li= msg

  = f.label :name
  = f.text_field :name
  %br
  %h4= "Properties"
  = f.fields_for :property_prototypes do |pp|
    = pp.check_box :_destroy, {:checked => pp.object.persisted?}, '0', '1'
    = pp.label :_destroy, pp.object.property.display_name
    = pp.hidden_field :property_id
  %br
  
  %h4= "Variant Properties"
  = f.fields_for :prototype_variant_properties do |pvp|
    = pvp.check_box :_destroy, {:checked => pvp.object.persisted?}, '0', '1'
    = pvp.label :_destroy, pvp.object.variant_property.display_name
    = pvp.hidden_field :variant_property_id
  %br
  %br

  = f.submit "Submit"
  = link_to 'Cancel', admin_prototypes_path
