= form_for [:admin, @variant_property, @variant_property_value] do |f|
  - if @variant_property_value.errors.any?
    #error_explanation
      %h2= "#{pluralize(@variant_property_value.errors.count, "error")} prohibited this variant_property_value from being saved:"
      %div{:class=>["alert","alert-error"]}
        %ul
          - @variant_property_value.errors.full_messages.each do |msg|
            %li= msg

  = f.label :name
  = f.text_field :name
  %br
  = f.label :presentation
  = f.text_field :presentation
  %br

  = f.submit "Submit"
  = link_to 'Cancel', admin_variant_property_variant_property_values_path
