<!DOCTYPE html>
<html>
<head>
  <title>PlazrStore</title>
  <%= stylesheet_link_tag    "plazr_store/application", :media => "all" %>
  <%= javascript_include_tag "plazr_store/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<table>
  <tr>
    <td class="nav">
      <%= render 'plazr_auth/shared/nav' %>
      <%= render 'plazr_store/shared/nav' %>
    </td>
    
    <td class="content"><%= yield %></td>
  </tr>
</table>

</body>
</html>
