<!DOCTYPE html>
<html>
  <head>
    <title>PlazrStore</title>
    <%= stylesheet_link_tag    "plazr_store/application", :media => "all" %>
    <%= javascript_include_tag "plazr_store/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <h1>Store Name</h1>
      <p>Slogan</p>
    </header>

    <navigation>
      <ul>
        <li><%= link_to 'Home', mockup_index_path %></li>
        <li><%= link_to 'About', mockup_about_path %></li>
        <li>Profile</li>
      </ul>
    </navigation>

    <%= yield %>

  </body>
</html>
