<!DOCTYPE html>
<html>
	<head>
		<title>PlazrStore</title>
		<%= stylesheet_link_tag    "plazr_store/application", :media => "all" %>
		<%= javascript_include_tag "plazr_store/application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<nav class="container">
			<ul class="nav nav-pills pull-right">
				<li><%= link_to 'Home', mockup_index_path %></li>
				<li><%= link_to 'About', mockup_about_path %></li>
			</ul>
		</nav>

		<header class="container">
			<div class="row">	
				<div class="span12">	
					<div class="hero-unit">
						<h1>Plazr Store</h1>
						<p>A simplificar o comércio online.</p>
					</div>
				</div>
			</div>
		</header>

			<%= yield %>

	</body>
</html>
