<section class="row-fluid well-list">
	<div>
		<h4>Bestsellers</h4>
	</div>
	<% @best.each_with_index do |best, index| %>
		<article class="best-entry row-fluid">
			<%= index + 1 %>. <%= link_to best.name, best %>
			<span class="pull-right">€ <%= best.master_price %></span>
<!-- 			<div class="span2">
				<%= image_tag best.image.file.url %>
			</div>
			<div class="span10">
				<div class="row-fluid"><b><%= best.name %></b></div>
				<div class="row-fluid"><%= best.details %></div>
			</div> -->

		</article>
	<% end %>
</section>