<header class="row-fluid">
	<h3><%= @featured.name %></h3>
</header>
<article class="row-fluid">
	<div class="span4">
		<%= image_tag @featured.image.file.url %>
	</div>
	<div class="span8">
		<span class="rating">
			<% 5.times do %>
			<%= image_tag 'glyphicons/star-full.png'%>
			<% end %>
		</span>

		<p><%= @featured.details %></p>

		<% unless @featured.variants_without_master.empty? %>
		<h3>Variants</h3>
		<% @featured.variants_without_master.each do |variant|  %>
		<ul>
			<li>
				<% variant.variant_property_values.each do |vpv| %>
				<b><%= vpv.variant_property.display_name %>:</b> <%= vpv.presentation %>
				<% end %>
			</li>
		</ul>
		<% end %>
		<% end %>

		<p style="font-size:x-large;line-height:2em">
			<strong>
				€ <%= @featured.master_price %>
			</strong>
		</p>
	</div>
</article>