<%= content_for :head do %>
	<%= stylesheet_link_tag 'plazr_store/pages' %>
<% end %>

<div class="container">
	<header class="row-fluid">
		<div class="span12">
			<h1>Lorem ipsum</h1>
		</div>
	</header>

	<section id="promotion" class="row-fluid">
		<div class="span12">
			<%= image_tag 'plazr_store/promotion-banner.jpg' %>
		</div>
	</section>

	<section id="featured">
			<header class="page-header">
				<h2>Featured Product</h2>
			</header>
		<%= render 'featured' %>
	</section>

	<section id="recommended">
		<header class="page-header">
			<h2>Recommended</h2>
		</header>
		<section class="row-fluid">
			<% @recommended.each do |recommended| %>
				<%= render 'recommended_single', :recommended => recommended %>
			<% end %>
		</section>
	</section>
</div>