%h1 New Logo

= form_for @logo, :url => url_for(:controller => 'logos', :action => 'create'), :html => { :multipart => true } do |f|
  - if @logo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@logo.errors.count, "error")} prohibited this logo from being saved:"
      %div{:class=>["alert","alert-error"]}
        %ul
          - @logo.errors.full_messages.each do |msg|
            %li= msg

  = f.hidden_field :class_type, :value => 'logo'
  = f.label :file
  = f.file_field :file
  %br
  = f.submit "Submit"
  = link_to 'Cancel', root_path
