%h1= "Search Results for \"#{params[:search]}\""

%table
  - @products.each do |product|
    %tr
      %td= link_to product.name, product_path(product)
      %td= product.master_price

= will_paginate @products
