%h1 Listing Variants
%table
  %thead
    %tr
      %th SKU
      %th Description
      %th Price
      %th Cost Price
      %th Amount Available
      %th Availability
      %th Product
  %tbody
    - @variants.each do |variant|
      %tr
        %td
          = variant.sku
        %td
          = variant.description
        %td
          #{variant.price} €
        %td
          #{variant.cost_price} €
        %td
          = variant.amount_available
        %td
          = variant.available
        %td
          = variant.product.name
        %td
          = link_to 'Show', admin_variant_path(variant)
        %td
          = link_to 'Edit', edit_admin_variant_path(variant)
        %td
          = link_to 'Destroy', admin_variant_path(variant), :method => :delete, :data => { :confirm => 'Are you sure?' }
= link_to 'New Variant', new_admin_variant_path
