#admin
	= render 'plazr_store/admin/nav', :tab => :products, :section => :variants, :view => :show
	.show
		.row-fluid
			.span4
				- imgpth = @variant.image.file.url(:thumb)
				%noscript= image_tag imgpth, :class => :photo
				.photo{ style: "background-image:url('#{imgpth}')" }
			.span8
				%h1= @variant.product.name
				%h2= @variant.sku
				%p= @variant.description
				.row-fluid
					.offset1.span3
						%table.table.table-bordered
							%tbody
								%tr
									%th Price
									%td= number_to_currency( @variant.price, unit: '€' )
								%tr
									%th Cost
									%td= number_to_currency( @variant.cost_price, unit: '€' )
					.offset1.span6
						%table.table.table-bordered
							%tbody
								%tr
									%th Available
									%td= @variant.amount_available
								%tr
									%th Restock
									%td= @variant.restock_date.to_time.to_s(:long)
