%h1 Listing Discount Types
%table
  %thead
    %tr
      %th Name
  %tbody
    - @discount_types.each do |discount_type|
      %tr
        %td
          = discount_type.name
        %td
          = link_to 'Show', admin_discount_type_path(discount_type)
        %td
          = link_to 'Edit', edit_admin_discount_type_path(discount_type)
        %td
          = link_to 'Destroy', admin_discount_type_path(discount_type), :method => :delete, :data => { :confirm => 'Are you sure?' }
= link_to 'New Discount Type', new_admin_discount_type_path