= form_for [:admin, @product_category] do |f|
  - if @product_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product_category.errors.count, "error")} prohibited this product_category from being saved:"
      %div{:class=>["alert","alert-error"]}
        %ul
          - @product_category.errors.full_messages.each do |msg|
            %li= msg

  = f.label :name
  = f.text_field :name

  = f.label :description
  = f.text_field :description

  = f.label "Categories"
  = f.collection_select :parent_product_category_id, @product_categories, :id, :name, {:include_blank => true}

  = f.submit "Submit"
  = link_to 'Cancel', admin_product_categories_path
