#admin
	%h1= @product_category.name
	.btn-toolbar
		.btn-group
			= link_to 'Voltar', admin_product_categories_path, :class => [:btn, 'btn-small']
		.btn-group.pull-right
			= link_to 'Editar', edit_admin_product_category_path, :class => :btn
			= link_to 'Eliminar', admin_product_category_path(@product_category), :method => :delete, :data => { :confirm => "Está prestes a eliminar a categoria de produto \"#{@product_category.name}\". Deseja continuar?" }, :class => [:btn, 'btn-danger']
	%h3 Descrição
	%p= @product_category.description