= form_for [:admin, @variant_category] do |f|
  - if @variant_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@variant_category.errors.count, "error")} prohibited this variant_category from being saved:"
      %div{:class=>["alert","alert-error"]}
        %ul
          - @variant_category.errors.full_messages.each do |msg|
            %li= msg

  = f.label :name
  = f.text_field :name

  = f.label :description
  = f.text_field :description

  = f.label "Categories"
  = f.collection_select :parent_variant_category_id, @variant_categories, :id, :name, {:include_blank => true}

  = f.submit "Submit"
  = link_to 'Cancel', admin_variant_categories_path
