<!DOCTYPE html>
<html>
<head>
	<title>PlazrStore</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<%= stylesheet_link_tag    "plazr_store/application", :media => "all" %>
	<%= javascript_include_tag "plazr_store/application" %>
	<%= csrf_meta_tags %>
	<%= javascript_include_tag "plazr_store/application" %>
	<%= yield :head %>
</head>
<body>
	<div class="hero-wrap">
		<header class="container">
			<div class="row-fluid">
				<div class="span12">
					<div class="hero-unit">
						<a href="/"><%= image_tag 'logo.png' %></a>
					</div>
				</div>
			</div>
			<% unless flash.empty? %>
			<% flash.each do |name, msg| %>
			<% if msg.is_a?(String) %>
			<span class="text-info pull-right flash-messages">
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
			</span>
			<% end %>
			<% end %>
			<% end %>
		</header>
	</div>

	<nav class="nav-wrapper">
		<div class="container">
			<div class="row-fluid">
				<ul class="inline pull-right">
					<li><%= link_to 'Store', plazr_store.index_path %></li>
					<% unless @pages.nil? %>
					<% @pages.each do |page| %>
					<li><%= link_to page.title, page %></li>
					<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>

	<div id="container-wrapper">
		<div class="container">
			<%= render 'layouts/top_bar' %>
			<%= yield %>
			<footer>
				<div class="row-fluid">
					<div class="span4">
						<section class="border-right">
							<h5>Pages</h5>
							<ul class="unstyled">
								<li><%= link_to 'Store', plazr_store.index_path %></li>
								<% unless @pages.nil? %>
								<% @pages.each do |page| %>
								<li><%= link_to page.title, page %></li>
								<% end %>
								<% end %>
							</ul>
						</section>
					</div>
					<div class="span4">
						<section class="border-right">
							<h5>Categories</h5>
						</section>
					</div>
					<div class="span4">
						<section class="">
							<ul id="share">
								<li><%= image_tag 'plazr_store/icons/facebook.png' %></li>
								<li><%= image_tag 'plazr_store/icons/twitter.png' %></li>
							</ul>
						</section>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<%= yield :script %>
</body>
</html>
