<!DOCTYPE html>
<html>
<head>
  <title>PlazrStore</title>
  <%= stylesheet_link_tag    "plazr_store/application", :media => "all" %>
  <%= javascript_include_tag "plazr_store/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Plazr Store (Dummy App)</h1>

<h2>Current User: <%= current_user.to_s unless Rails.env.test? %></h2>

<table>
  <tr>
    <td class="nav">
      <%= render 'plazr_auth/shared/nav' unless Rails.env.test? %>
    </td>
    
    <td class="content"><%= yield %></td>
  </tr>
</table>

</body>
</html>
