%h1 Show Product
%p#notice
  = notice
%table
  %tr
    %td
      %b Name
    %td
      = @product.name
  %tr
    %td
      %b Details
    %td
      = @product.details

-# %td= image_tag @product.master_variant.first.multimedia.first.file.url(:thumb)

- if !@product.product_properties.empty?
  %h3 Properties
  %table{:border => 1}
    - @product.product_properties.each do |p|
      %tr
        %td= p.property.display_name
        %td= p.value
    %tr
      %td= "Brand"
      %td= @product.brand

- if !@product.variants_without_master.empty?
  %h3 Variants
  - @product.variants_without_master.each do |v|
    %table{border: 1}
      - v.variant_property_values.each do |vpv|
        %tr
          %td= vpv.variant_property.display_name
          %td= vpv.presentation
    = link_to 'Add to cart', cart_add_path(v.id), method: :post
- else
  = link_to 'Add to cart', cart_add_path(@product.master_variant.id), method: :post

= link_to 'Back', products_path
