<article id="product-show">
  <div class="row-fluid">

    <div class="span6">
      <div id="page-wrap">
        <div class="slider-wrap">
          <div id="main-photo-slider" class="csw">
            <div class="panelContainer">
              <% @product.images.each_with_index do |im, index| %>
              <div class="panel" title='Panel <%=index + 1 %>'>
                <div class="wrapper">
                  <img src=<%=im.file%> alt="temp" />
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div id="movers-row">
            <% @product.images.each_with_index do |im, index| %>
            <div><a href="#<%=index + 1 %>" class="cross-link"><img src=<%=im.file%> class="nav-thumb" alt="temp-thumb" /></a></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="span6">

      <div class="row-fluid">
        <header class="page-header product-name">
          <%= @product.name %><div><%= render 'plazr_store/shared/stars', count: 2 %></div>
        </header>
      </div>

      <p>Preço: <span class="price"><%= @product.master_price %> €</span></p>
      <ul>
        <li><a href="#" class="btn btn-large btn-primary disabled">Add Cart</a></li>
        <li><a href="#" class="btn btn-large btn-primary disabled">Add Wishlist</a></li>
        <li><a href="#" class="btn btn-large btn-primary disabled">Add comment</a></li>
      </ul>
      <ul>
        <li><a href="#" class="btn btn-large btn-primary disabled">Share facebook</a></li>
        <li><a href="#" class="btn btn-large btn-primary disabled">Share twiter</a></li>
        <li><a href="#" class="btn btn-large btn-primary disabled">Share google</a></li>
      </ul>
    </div>

  </div>

  <section>
    <div class="row-fluid">
      <div class="span12">
        <% if !@product.variants_without_master.empty? %>
        <p>Variantes:</p>
        <select>
          <% @product.variants_without_master.each do |v| %>
          <% v.variant_property_values.each_with_index do |vpv, index| %>
          <option><%= index%> - <%vpv.variant_property.display_name%> - <%= vpv.presentation%></option>
          <% end %>
          <% end %>
        </select>
        <% end %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <p>Quantidade:</p>
        <input type="number" value="Quantity" />
      </div>
    </div>

    <div class="row-fluid">

      <div class="span5">
        <dl>
          <dt>Descrição</dt>
          <dd><%= @product.details %></dd>
          <dt>Referência<dt>
            <dd><%= @product.master_variant.sku %></dd>
          </dl>
        </div>
      </div>
    </section>

    <% if @product.related.size > 0 %>
    <section>
      <div class="row-fluid">
        <div class="page-header">
          <h3>Artigos relacionados</h3>
        </div>
      </div>

      <!--Não consigo validar porque a base de dados nao esta povoada-->
      <div class="row-fluid">
        <% @product.related.each do |product| %>
        <%= render 'plazr_store/shared/thumb-item', recommended: product %>
        <% end %>
      </div>
    </section>
    <%end%>

    <% if !@product.comments.empty? %>
    <section>
      <div class="row-fluid">
        <div class="span11">
          <h1>Comentários</h1>
        </div>
      </div>

      <% @product.comments.each do |c| %>
      <div class="row-fluid">
        <div class="span4">
          <h3>Nome</h3>
          <p><%= PlazrAuth::User.find(@product.id).first_name %></p>
          <p><%= c.rating %></p>
        </div>

        <div class="span5">
          <p><%= c.comment %></p>
        </div>
      </div>
      <% end %>
    </section>
    <% end %>
  </article>
