<article id="product-show">

  <header class="page-header">
      <h2><%=@product.name%></h2>
  </header>
  <div class="row-fluid">
    € <%= @product.master_price %>
  </div>
  <!--Teste imagens-->

  <!--teste-->
  <div class="row-fluid">
    <div  class="span8">

      <div id="page-wrap">
        <div class="slider-wrap">
          <div id="main-photo-slider" class="csw">
            <div class="panelContainer">
                <!--
                <%# @product.images.each_with_index do |im, index| %>
                  <div class="panel" title=("Panel" + index)>
                    <div class="wrapper">
                      <img src=<%#=im.file%> alt="temp" />
                    </div>
                  </div>
                <%# end %>
              -->
            </div>
          </div>
          <div id="movers-row">
              <!--
              <%# @product.images.each do |im| %>
                <div><a href="#5" class="cross-link"><img src=<%#=im.file%> class="nav-thumb" alt="temp-thumb" /></a></div>
              <%# end %>
            -->
          </div>
        </div>
        <div id="movers-row">
          <% @product.images.each do |im| %>
          <div><a href="#5" class="cross-link"><img src=<%=im.file%> class="nav-thumb" alt="temp-thumb" /></a></div>
          <% end %>
        </div>

      </div>
    </div>
    <div class="span3">
      <div class="row">
        <div>
          <button>x</button><br>
          <button>x</button><br>
          <button>x</button><br>
        </div>
      </div>
    </div>
  </div>




  <!-- Images End -->

  <section>
    <div class="row-fluid">
      <div class="span11 offset1">
        <% if !@product.variants_without_master.empty? %>
        <p>Variantes:</p>
        <select>
          <% @product.variants_without_master.each do |v| %>
          <% v.variant_property_values.each_with_index do |vpv, index| %>
          <option><%= index%> - <%vpv.variant_property.display_name%> - <%= vpv.presentation%></option>
          <% end %>
          <% end %>
        </select>
        <% end %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span11 offset1">
        <p>Quantidade:</p>
        <input type="number" value="Quantity" />
      </div>
    </div>

    <div class="row-fluid">

      <div class="span5 offset1">
        <dl>
          <dt>Descrição</dt>
          <dd><%= @product.details%></dd>
          <dt>Referência<dt>
            <dd><%#= @product.sku%></dd>
          </dl>
        </div>
      </div>
    </section>

    <section>
      <header class="page-header">
        <h3>Artigos Relacionados</h3>
      </header>
      <!--Ainda tem de ser alterado-->
      <div class="row-fluid">
        <div class="span3 offset1">
          <%= render 'related_products_im' %>
        </div>
        <div class="span3">
          <%= render 'related_products_im' %>
        </div>
        <div class="span3">
          <%= render 'related_products_im' %>
        </div>
      </div>
      <!--+++++++++++++++++++++++++++++++-->
    </section>

    <% if !@product.comments.empty? %>
    <section>
      <div class="row-fluid">
        <div class="span11 offset1">
          <h1>Comentários</h1>
        </div>
      </div>

      <% @product.comments.each do |c| %>
      <div class="row-fluid">
        <div class="span4 offset1">
          <h3>Nome</h3>
          <p><%= PlazrAuth::User.find(@product.id).first_name %></p>
          <p><%= c.rating %></p>
        </div>

        <div class="span5">
          <p><%= c.comment %></p>
        </div>
      </div>
      <% end %>
    </section>
    <% end %>
  </article>
